// Estilo Fonte: Work Sans

.worksans-normal-white-67 {
    color: var(--text);
    font-family: var(--font-family-work_sans);
    font-size: var(--font-size-xxxxl);
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
}

.worksans-normal-white-51 {
    color: var(--text);
    font-family: var(--font-family-work_sans);
    font-size: var(--font-size-xxxl);
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
}

.worksans-normal-white-38 {
    color: var(--text);
    font-family: var(--font-family-work_sans);
    font-size: var(--font-size-xxl);
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.worksans-normal-white-28 {
    color: var(--text);
    font-family: var(--font-family-work_sans);
    font-size: var(--font-size-xl);
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

.worksans-normal-white-22 {
    color: var(--text);
    font-family: var(--font-family-work_sans);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

.worksans-normal-white-body {
    color: var(--text);
    font-family: var(--font-family-work_sans);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.worksans-normal-white-caption {
    color: var(--text);
    font-family: var(--font-family-work_sans);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}

// Estilo Fonte: Space Mono

.spacemono-normal-white-67 {
    color: var(--text);
    font-family: var(--font-family-space_mono);
    font-size: var(--font-size-xxxxl);
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
}

.spacemono-normal-white-51 {
    color: var(--text);
    font-family: var(--font-family-space_mono);
    font-size: var(--font-size-xxxl);
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
}

.spacemono-normal-white-38 {
    color: var(--text);
    font-family: var(--font-family-space_mono);
    font-size: var(--font-size-xxl);
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.spacemono-normal-white-28 {
    color: var(--text);
    font-family: var(--font-family-space_mono);
    font-size: var(--font-size-xl);
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}

.spacemono-normal-white-22 {
    color: var(--text);
    font-family: var(--font-family-space_mono);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
}

.spacemono-normal-white-body {
    color: var(--text);
    font-family: var(--font-family-space_mono);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.spacemono-normal-white-caption {
    color: var(--text);
    font-family: var(--font-family-space_mono);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}