:root {

    // Cores
    --background: #2B2B2B;
    --background-secondary: #3B3B3B;
    --caption-label-text: #858584;
    --text: #FFFFFF;
    --call-to-action: #A259FF;

    // Tamanho das fontes
    --font-size-l: 2.2rem;
    --font-size-m: 1.6rem;
    --font-size-s: 1.2rem;
    --font-size-xl: 2.8rem;
    --font-size-xxl: 3.8rem;
    --font-size-xxxl: 5.1rem;
    --font-size-xxxxl: 6.7rem;

    // Familia de fontes
    --font-family-space_mono: "Space Mono", Helvetica;
    --font-family-work_sans: "Work Sans", Helvetica;
}